<h1 class="text-center mt-4">Edit a category</h1>

<div class="row justify-content-center mx-0">
  <div class="col-10">
    <%= render 'form' %>
  </div>
  <div class="py-2 mb-3">
    <%= link_to '[ Cancel Edit and return to category ]', category_path(@category)  %>
  </div>
</div>